body{
    background: url('assets/backgound.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family:'Shadows Into Light';
}

.container {
    background-color:cadetblue;
    width: 400px;
    margin: 50px auto;
    padding: 10px 100px;
    border-radius: 30px;
}

.todo-list-title{
    position: relative;
    font-size: 28px;
    font-weight: bold;
}

.inner-wrapper{
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
}

.input-wrapper{
    border-radius: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 424px;
}

.input-wrapper input{
    background-color: transparent;
    border: 0px;
    flex: 1;
    outline: none;
    padding: 8px 15px;
    font-family: 'Shadows Into Light';
    font-size: 16px;
}

.inner-wrapper input:focus::placeholder{
    color: transparent;
}

.input-wrapper button{
    background-color: lightblue;
    border: 0px;
    border-radius: 30px;
    color: black;
    font-size: 16px;
    font-family: 'Shadows Into Light';
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.inner-wrapper button:hover{
 background-color: #b8dbe7;   
}

.inner-wrapper button:active{
    background-color: #cee2e9;
}

.list{
    list-style: none;
    padding: 0px;
}

.list li{
    vertical-align: middle;
    font-weight: 400;
    padding: 5px;
    position: relative;
}

.list li.checked{
    text-decoration: line-through;
}

.list li::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('assets/unchecked.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.list li.checked::before{
    width: 24px;
    height: 24px;
    background-image: url('assets/checked.svg');
}

.delete{
    background-image: url('assets/delete.svg');
    background-size: contain;
    border-radius: 15px;
    padding: 5px;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    width: 10%;
    height: 10%;
}

.delete:hover{
    background-color: lightgray;
    cursor: pointer;
}